body{
    background-color: thistle;
    font-family: sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    font-weight: 10px bold;
}

h2{
    font-size: 40px;
}

.out_div{
    text-align: center;
    background-color: rgba(168, 255, 226, 0.788);
    padding: 10px;
    border: solid 1px gainsboro;
    margin: 0px 17% 0px 17%;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;
    display: block;
}



.search_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: solid black 1px;
    border-radius: 0% 50% 50% 0%;
    cursor: pointer;
    margin-top: 10px;
}

.search_button img{
    height: 25px;
    margin-right: 5px;
    padding: 15px 15px;

}
.seach_place{
    height: 30px;
    width: 40%;
    padding: 10px 10px;
    font-size: 25px;
}
/*List*/
.task_outside{
    align-items: center;
    position: block;
    text-align: center;
}


.list_div {
    margin: 0% 10% 0% 10%;
    border: solid black 2px;
    border-radius: 10px;
    padding: 30px;
    background-color: blanchedalmond;
    display: flex;
 
}

.List_of_tasks {
    display: flex;
    align-items: center;      /* Center vertically */
    justify-content: center;  /* Center horizontally */
    flex-direction: column;   
    width: 700px;
    padding: 10px; 
    list-style: none;
    height: 100%; /* Optional: Depends on the height requirement for your list */
}

.List_of_tasks li {
    display: flex;
    margin: 0px 0px 20px 0px; 
    font-size: 20px;
}

.List_of_tasks ul {
    align-self: flex-start;
    width: 100%;
}

.List_of_tasks h3 {
    text-align: center; 
    margin: 0; /* Resetting any margin */
    padding: 0; /* Resetting any padding */
}


.button_task{
    cursor: pointer;
    background-color: #d11d4a;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 15px;
}
  
.checkBox_{
    width: 20px;
}
  
.warring_mesage {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    display: inline-block;
    position: fixed;  /* or absolute, but fixed will keep it in view even if you scroll */
    z-index: 9999;
    padding: 5px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0px -1px 10px gray;
    margin-left: 30%;
    margin-top: -50px;
    transform: translate(-50%, -50%); /* shifts back by half its width and height */
}

.warring_mesage h3{
    font-size: 20px;
    color: #d11d4a;
}
.warring_mesage button{
    cursor: pointer;
    background-color: #d11d4a;
    padding: 4px;
    font-size: 15px;
    font-weight: bold;
}
